.container{
    display:grid;
    background-color: black;
    color:white;
    margin: 2rem auto 2rem auto;
    width: 1000px;
}
header{
    display:flex;
    flex-direction:column
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  nav li {
    display: flex;
    justify-content: right;

  }
  
  nav li a {
    display: grid;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
  
  nav li a:hover {
    background-color: #ddd;
  } 
  section {
    padding: 40px;
    margin-bottom: 20px;
    background-color: gray;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section p {
    line-height: 1.5;
  } 
  


 
img {
    width: 200px;
    display: flex;
    justify-content: center;
} 

 
  